<template>
    <div>
        <p>{{message.message}}</p>
        <small>
            <p>{{message.user.name}}</p>
        </small>
    </div>
</template>

<script>
    export default {
        props: ['message']
    }
</script>

<style lang="css">
    .chat-message {
        padding: 1rem;
    }

    .chat-message > p {
        margin-bottom: .5rem;
    }
</style>
